PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/test-backend-singruad

#set up access token
JWT_ACCESS_TOKEN_SECRET=your_jwt_access_secret
JWT_ACCESS_EXPIRATION=10m

#set up refresh token
JWT_REFRESH_TOKEN_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRATION=1d

#cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

#cors
CORS_ORIGINS=http://localhost:5173,http://localhost:8000,https://duckymomouwu.github.io
